{% extends "userDash/staff_clubs.html" %}

{% block list %}
<div class="row">
  <div class="col-md-2">
    <ul class="list-group selectList">
      {% for batch in batches %}
        <a href="{{ batch }}"><li class="list-group-item" id="{{ batch }}">{{ batch }}</li></a>
      {% endfor %}
    </ul>
  </div>
  {% if chosenBatch %}
  <div class="col-md-10">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th>ID</th>
        <th>Name</th>
      </thead>
      {% for userprofile in list %}
      <tr>
        <td>{{ userprofile.bitsId }}</td>
        <td>{{ userprofile.user.first_name }}  {{ userprofile.user.last_name }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>

{% endblock %}
